.top data-separator=:"bottom-separator"
  div.container
    ol.tabs.side
      li.tab.active
        button#console-select aria-controls=:"console"
          img src="#{@basepath}images/dynamic/hex/1e151e/toolbar/console.svg"
          span.caption
            = I18n.t(:"run.devices.console")
      li.tab
        button#video-select aria-controls=:"video"
          img src="#{@basepath}images/dynamic/hex/1e151e/toolbar/video.svg"
          span.caption
            = I18n.t(:"run.devices.video")
      li.tab
        button aria-controls=:"debugger"
          img src="#{@basepath}images/dynamic/hex/1e151e/toolbar/debug.svg"
          span.caption
            = I18n.t(:"run.devices.debugger")
    ol.tab-panels.side
      li.tab-panel.active#console
        div.output-container
          div.output
            div#term_container
      li.tab-panel#video
        div.output-container
          div.output
            canvas#video width="640" height="480"
      li.tab-panel#debugger
        div.output-container
          div.output
            div#gdb_container
            div.disconnected
              img src="#{@basepath}images/disconnected.svg"
  .separator.vertical#register-separator
  .register-file data-separator=:"register-separator,label-separator"
    ol.tabs
      li.tab.active
        button aria-controls=:"register-file"
          = I18n.t(:"run.registers.tab")
      li.tab
        button aria-controls=:"co-processor-file"
          = I18n.t(:"run.co-processor.tab")
      li.tab
        button aria-controls=:"supervisor-file"
          = I18n.t(:"run.supervisor.tab")
    ol.tab-panels
      li.tab-panel.active#register-file style="padding-top: 0;"
        table.registers
          tbody
            - ["pc", "ra", "sp", "gp", "tp", "t0",
               "t1", "t2", "t3", "t4", "t5", "t6",
               "s0", "s1", "s2", "s3", "s4", "s5",
               "s6", "s7", "s8", "s9", "s10", "s11",
               "a0", "a1", "a2", "a3", "a4", "a5",
               "a6", "a7"].each do |register_name|
              tr.register class=register_name
                td.name
                  = register_name
                td.value
                  button
                    = "0x0000000000000000"
                td.edit hidden=true
                  input.input type=:text id="register-#{register_name}"
      li.tab-panel#co-processor-file style="padding-top: 0;"
        table.registers
          tbody
            - ["ft0", "ft1", "ft2", "ft3", "ft4", "ft5",
               "ft6", "ft7", "ft8", "ft9", "ft10", "ft11",
               "fs0", "fs1", "fs2", "fs3", "fs4", "fs5",
               "fs6", "fs7", "fs8", "fs9", "fs10", "fs11",
               "fa0", "fa1", "fa2", "fa3", "fa4", "fa5",
               "fa6", "fa7"].each do |register_name|
              tr.register class=register_name
                td.name
                  = register_name
                td.type
                  | x
                td.value
                  button
                    = "0x0000000000000000"
                td.edit hidden=true
                  input.input type=:text id="fp-register-#{register_name}"
                td.actions
                  button.actions
                    img        src="#{@basepath}images/dynamic/hex/888888/actions.svg"
                    img.active src="#{@basepath}images/dynamic/hex/aa33aa/actions.svg"
                    img.hover  src="#{@basepath}images/dynamic/hex/aa33aa/actions.svg"
                  - id = "fp-register-#{register_name}-actions"
                  ul.dropdown-menu role=:menu id=id aria-hidden="true" hidden=true
                    li.dropdown-menu-option
                      button.action disabled=true data-action=:"as-hex" role=:menuitem
                        | View as hexadecimal
                    li.dropdown-menu-option
                      button.action data-action=:"as-float" role=:menuitem
                        | View as 32-bit float
                    li.dropdown-menu-option
                      button.action data-action=:"as-double" role=:menuitem
                        | View as 64-bit double
                    li.dropdown-menu-option
                      button.action data-action=:explore role=:menuitem
                        | Explore representation
      li.tab-panel#supervisor-file style="padding-top: 0;"
        table.registers
          tbody
            - ["sscratch", "sepc", "scause", "stval"].each do |register_name|
              tr.register class=register_name
                td.name
                  = register_name
                td.value
                  button
                    = "0x0000000000000000"
                td.edit hidden=true
                  input.input type=:text id="supervisor-register-#{register_name}"
.separator.horizontal#bottom-separator
.bottom
  .left
    ol.tabs
      li.tab.active
        button aria-controls=:"machine-code-panel"
          = I18n.t(:"run.machine-code.tab")
      li.tab
        button aria-controls=:"memory-panel"
          = I18n.t(:"run.memory.tab")
    ol.tab-panels
      li.tab-panel.active#machine-code-panel
        table.instructions.empty
          thead
            th
              -#= I18n.t(:"run.machine-code.headers.breakpoint")
            th
              = I18n.t(:"run.machine-code.headers.address")
            th
              = I18n.t(:"run.machine-code.headers.code")
            th
              = I18n.t(:"run.machine-code.headers.disassembly")
            th
              = I18n.t(:"run.machine-code.headers.line")
            th
              = I18n.t(:"run.machine-code.headers.source")
          tbody

        img.waiting src="#{@basepath}images/dynamic/hex/dbccda/dinosaurs/velociraptor.svg"
      li.tab-panel#memory-panel
        table.memory.empty
          thead
            th
              = I18n.t(:"run.memory.headers.address")
            th
              = I18n.t(:"run.memory.headers.value") + " (+0)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+4)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+8)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+12)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+16)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+20)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+24)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+28)"
            th
              = I18n.t(:"run.memory.headers.printed")
          tbody

        img.waiting src="#{@basepath}images/dynamic/hex/dbccda/dinosaurs/tyrannosaurus.svg"

  .separator.vertical#label-separator
  .right data-separator=:"register-separator,label-separator"
    ol.tabs
      li.tab.active
        button aria-controls=:"labels-panel"
          = I18n.t(:"run.labels.tab")
    ol.tab-panels
      li.tab-panel.active#labels-panel
        table.labels.empty
          thead
            th
              = I18n.t(:"run.labels.headers.name")
            th
              = I18n.t(:"run.labels.headers.address")
          tbody

        img.waiting src="#{@basepath}images/dynamic/hex/dbccda/dinosaurs/elasmosaurus.svg"
